<%- include('partials/header') %>

<h1>Home</h1>
<p><%= post.title %></p>
<hr />

<% post.forEach(element=> { %>
<div>
  <h3><%= element.title %></h3>
  <p id="paragraph">
    <%= element.text.substring(0, 100)+" ..." %><a href="/post/<%= element.title %>"
      >Read more
    </a>
  </p>
</div>
<hr />
<% }); %> <%- include('partials/footer') %>
