<%- include('partials/header') %>  

<h1>Home</h1>
<p><%= content %></p>
<hr>

<% posts.forEach(post => { %>
    <div>
        <h3>
            <a href="/post/<%= post.link %>">
            <%= post.title %>
            </a>
        </h3>
        <p>
            <%= post.text %>
        </p>
    </div>
    <hr>
<% }); %>
<%- include('partials/footer') %>
